.App 
{
  text-align: center;
}

.App-header 
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link 
{
  color: #61dafb;
}

@keyframes App-logo-spin 
{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo 
{                  
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body
{
  display: flexbox;
  color: white;
  font-family: "Times-New-Roman", serif;
  background-color: #0069a2;
}

div
{

  margin-top: 2em;
}

#logo
{
  top: 50%;
  left: 50%;
  text-align: center;
  margin: auto 0;
}

#calendar:hover, #member:hover, #resources:hover, #about:hover
{
  color: lavender;
  font-size: 110%;
}

#root
{
  text-align: center;
  margin: auto 0;
  padding-left: 2em;
  top: 50%;
  left: 50%;
}

.screen, .screen2
{

  display: flex;
  justify-content: space-between;
  
}

.screen2
{
  margin-top: 4em;
}

.box
{
  flex: 0 1 50%;
}




